* {
    padding: 0;
    margin: 0;
    font-family: 'Saira Extra Condensed', cursive;
}

.background {
    background-color: #3aa8df;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.display {
    color: rgb(131, 70, 70);
    background-color: aliceblue;
    /* height: fit-content;
    width: fit-content; */
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 500px;

}

.cover {
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #072015;
}

.playerO {
    color: #0d1d3a;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #2e343f;
}

#reset {
    background-color: #a80c2b;
}